<table class="table">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Название отеля</th>
        <th scope="col">Уровень комфорта</th>
        <th scope="col">Управление</th>
    </tr>
    </thead>
    @foreach (HotelModel hotel in Hotels)
    {
        <tr class="tab_row">

            <th scope="row" @onclick="@( () => OnSelected.InvokeAsync(hotel))">@(Hotels.IndexOf(hotel) + 1)</th>
            <td @onclick="@( () => OnSelected.InvokeAsync(hotel))">@hotel.Name</td>
            <td @onclick="@( () => OnSelected.InvokeAsync(hotel))">
                <RatingOfStarComponent CountOfStar="@hotel.Stars" />
            </td>
            <td>
                <ul class="control">
                    <li data-bs-toggle="tooltip"
                        data-bs-placement="left"
                        title="Редактировать"
                        @onclick="@(() => OnEdit.InvokeAsync(hotel))"
                        @onmouseover="@MouseOverOfEditBtn"
                        @onmouseout="@MouseOutOfEditBtn">
                        <Icon class="@Edit" Size="IconSize.x4" Name="IconName.PencilFill" />
                    </li>
                    <li data-bs-toggle="tooltip"
                        data-bs-placement="right"
                        title="Удалить"
                        @onclick="@(() => OnRemove.InvokeAsync(hotel))"
                        @onmouseover="@MouseOverOfRemoveBtn"
                        @onmouseout="@MouseOutOfRemoveBtn">
                        <Icon class="@Remove" Size="IconSize.x4" Name="IconName.TrashFill" />
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
<style type="text/css">
    .tab_row:hover {@RowHoverStyle}
</style>