@page "/registration"

<div class="container-fluid">
    <div class="row">
        <img src="/Images/2.jpg" />
        <div class="register_form">
            <EditForm Model="@RegistrationData" OnSubmit="@RegisterAsync">
                <div class="modal-content">
                    <div class="modal-header justify-content-center flex-column align-items-center">
                        <svg id="registerModalLabel" width="100pt" height="50pt" version="1.0" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 528 115" preserveAspectRatio="xMidYMid meet">
                            <g transform="translate(0,115) scale(0.1,-0.1)" fill="#fff" stroke="none">
                                <path fill="#f1b833" d="M22 1108 c142 -190 448 -628 448 -642 0 -9 -72 -117 -160 -239 l-161
                                                -222 173 -3 c154 -2 174 -1 188 15 55 59 321 437 316 449 -3 8 -112 163 -241
                                                344 l-236 330 -176 0 -175 0 24 -32z" />
                                <path fill="#4bc5c8" d="M510 1124 c0 -14 393 -553 400 -549 5 3 91 117 191 253 100 136 194
                                                259 208 275 l25 27 -244 0 -244 0 26 -27 c14 -16 54 -70 89 -121 54 -79 62
                                                -95 51 -110 -7 -9 -25 -36 -40 -59 -15 -23 -29 -42 -32 -42 -3 -1 -63 80 -135
                                                179 l-130 179 -82 1 c-46 0 -83 -2 -83 -6z" />
                                <path d="M2610 571 l0 -481 85 0 86 0 -1 173 c0 94 -1 178 0 185 0 9 25 12 93
                                                12 l92 0 95 -185 95 -185 89 0 c76 0 87 2 82 16 -3 8 -51 99 -106 201 -56 102
                                                -99 187 -98 188 2 1 20 11 40 24 46 28 94 81 113 128 9 22 15 67 15 117 0 100
                                                -19 146 -83 202 -75 67 -119 76 -374 82 l-223 4 0 -481z m439 324 c59 -35 76
                                                -67 76 -145 0 -59 -3 -72 -25 -96 -46 -49 -94 -64 -212 -64 l-108 0 0 166 0
                                                166 118 -3 c95 -3 123 -8 151 -24z" />
                                <path d="M4997 974 c-4 -4 -7 -45 -7 -91 l0 -83 -60 0 -60 0 0 -60 0 -60 38 1
                                                c90 3 81 30 84 -243 3 -274 9 -298 77 -340 29 -19 49 -23 103 -21 105 2 108 4
                                                108 72 l0 59 -44 -5 c-35 -4 -48 -1 -65 16 -20 20 -21 30 -21 244 l0 222 57 0
                                                58 0 3 58 3 57 -61 0 -60 0 0 84 c0 58 -4 85 -12 88 -22 8 -133 9 -141 2z" />
                                <path d="M1363 796 c-153 -50 -241 -221 -213 -417 25 -173 119 -277 270 -297
                                                116 -16 237 21 296 91 93 111 117 312 54 454 -25 57 -89 124 -147 153 -59 29
                                                -193 38 -260 16z m152 -117 c48 -13 80 -41 108 -94 18 -33 22 -57 22 -140 0
                                                -87 -3 -107 -25 -150 -35 -71 -79 -98 -151 -93 -112 8 -164 82 -164 233 0 160
                                                46 231 165 254 3 0 23 -4 45 -10z" />
                                <path d="M3649 795 c-59 -19 -143 -93 -173 -154 -82 -163 -49 -391 71 -490 91
                                                -75 259 -97 366 -48 58 26 127 82 127 102 0 11 -64 75 -75 75 -3 0 -25 -15
                                                -50 -34 -79 -61 -188 -61 -256 1 -36 33 -75 109 -67 133 2 8 69 11 236 10
                                                l232 -1 0 41 c0 60 -20 177 -36 216 -20 48 -80 111 -128 136 -53 28 -181 34
                                                -247 13z m189 -131 c28 -18 61 -87 62 -126 l0 -28 -155 0 c-85 0 -155 1 -155
                                                3 0 2 7 26 15 53 16 55 56 100 101 114 37 12 102 4 132 -16z" />
                                <path d="M4350 795 c-56 -18 -122 -72 -144 -119 -22 -46 -20 -108 4 -156 32
                                                -63 88 -95 245 -137 105 -28 130 -42 139 -79 16 -62 -43 -114 -130 -114 -69 0
                                                -144 53 -144 101 0 17 -9 19 -76 19 l-77 0 6 -42 c12 -87 103 -166 218 -188
                                                71 -14 184 2 249 35 73 37 104 83 108 164 3 56 0 71 -20 101 -32 47 -91 85
                                                -163 105 -192 55 -225 72 -225 119 0 36 36 74 81 86 73 20 140 -8 161 -66 l12
                                                -34 78 0 c43 0 78 3 78 8 0 25 -25 92 -45 117 -12 17 -46 43 -75 59 -45 25
                                                -67 29 -144 32 -61 3 -106 -1 -136 -11z" />
                                <path d="M1912 512 l3 -289 30 -49 c46 -75 95 -96 210 -92 82 3 95 7 137 35
                                                50 33 58 33 58 -4 0 -22 3 -23 75 -23 l75 0 0 355 0 355 -80 0 -80 0 0 -259 0
                                                -258 -25 -27 c-47 -51 -132 -70 -190 -44 -55 25 -60 49 -63 331 l-3 257 -75 0
                                                -75 0 3 -288z" />
                            </g>
                        </svg>
                        <p class="title">Регистрация</p>
                    </div>
                    
                    <div class="modal-body">
                        <FluentValidationValidator @ref="RegisterFormValidator" />
                        <ValidationSummary />
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="@RegistrationData.Email" class="form-control" id="floatingInput" placeholder="" autocomplete="disabled" />
                            <label for="floatingInput">Email адрес</label>
                        </div>
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="@RegistrationData.Password" type="password" class="form-control" id="floatingPassword" placeholder="" />
                            <label for="floatingPassword">Пароль</label>
                        </div>

                        <div class="form-floating mb-3">
                            <InputText @bind-Value="@RegistrationData.LastName" type="text" class="form-control" id="floatingLastName" placeholder="" />
                            <label for="floatingLastName">Фамилия</label>
                        </div>
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="@RegistrationData.UserName" type="text" class="form-control" id="floatingUserName" placeholder="" />
                            <label for="floatingUserName">Имя</label>
                        </div>
                        <div class="form-floating mb-3">
                            <InputText @bind-Value="@RegistrationData.FirstName" type="text" class="form-control" id="floatingFirstName" placeholder="" />
                            <label for="floatingFirtsName">Отчество</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button @onclick="@OnLoginPage" class="enter_btn">Войти</button>
                        <button type="submit" class="enter_btn">Зарегистрироваться</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>
