@model YourRest.ClientWebApp.Models.HotelBookingClientModel

@{
    ViewData["Title"] = "Index";
}

<h1>View</h1>

<div>
    <h4>HotelBookingClientModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdultNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdultNr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildrenNr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildrenNr)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
